# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env
venv/
backend/kim/
backend/my_env/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/FETCH_GOOGLE_IMGS/node_modules
backend/sincere-song-448114-h6-f3e0278e3b00.json
backend/GEN_RESPONSE/.env
backend/GEN_RESPONSE/venv
backend/GEN_RESPONSE/__pycache__
backend/GEN_RESPONSE/sincere-song-448114-h6-f3e0278e3b00.json
backend/GEN_RESPONSE/*.json
backend/GEN_RESPONSE/sincere-song-448114-h6-c6b9c32362d6.json
backend/sincere-song-448114-h6-c6b9c32362d6.json
backend/sahul
backend/.env
backend/application_default_credentials.json
backend/json_files
backend/uploads
backend/__pycache__
backend/Rohan/
backend/json_files
backend/uploads
backend/.env
**/__pycache__/
backend/client_secret_225633635709-u65kcn7ljn7j4mq08peadlengi0vpu6n.apps.googleusercontent.com.json
backend/token.json
backend/drive-integration-455114-d7e935514d5a.json